# VS Code
.vscode/

# Java build files
bin/
*.class

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.idea/
*.iml
.classpath
.project
.settings/

# Archives
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Keep JARs
!*.jar

